<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="main-menu"></button>
    <div class="title-bar-title">Menu</div>
</div>
<div class="top-bar" id="main-menu">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-responsive-menu="drilldown medium-dropdown">
            <li><a href="/admin/logout">Log Out</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/profile">Profile</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
            <ul class="dropdown menu">                    
                <li>
                    <form method="POST" action="/admin/search">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                        <div class="input-group">
                            <span class="input-group-label" style="margin:0;">
                                <i class="fi-page-search" style="font-size:18pt;color:rgb(100,120,180);padding:0;margin:0;"></i>
                            </span>
                            <input class="input-group-field" type="text" name="keyword"  placeholder="Search" required/>
                            <div class="input-group-button">
                                <input id="productSearchButton" type="submit" class="button" value="Submit"/>
                            </div>
                        </div>
                    </form>
                </li>       
            </ul>
    </div>        
</div>

{{#if hasErrors}}
   <div class="alert alert-danger">
    {{# each messages }}
        <p>{{this}}</p>
    {{/each }}
   </div>
{{/if}}

<div class="row">
    {{# if hasResults }}
            <div class="small-12 medium-12 large-12 columns">
                <h4>Manage Products</h4>
                {{# each products }}
                    <div class="products v-scroll">
                        {{# each this }}
                            <div class="media-object">
                                <div class="media-object-section align-self-center">
                                    <div class="thumbnail">
                                        <img src="/{{this.imagePath}}">
                                    </div>
                                </div>
                                <div class="media-object-section main-section">
                                    <h4>{{this.title}}</h4>
                                    <p class="v-scroll paragraph">{{this.description}}</p>
                                </div>
                                <div class="media-object-section align-self-center">
                                    <div class="">
                                        <span class="label">${{this.price}}</span>
                                        <span class="label">Qty {{this.quantity}}</span>
                                        <span  class="label alert">
                                            <a style="color:white;" href="/admin/delete-product/{{this.id}}">
                                                Delete
                                            </a>
                                        </span>
                                    </div>
                                </div>   
                                <div class="media-object-section align-self-bottom">
                                    <div class="">
                                        <form class="admin-form" method="POST" action="/admin/products">
                                            <input type="hidden" name="productId" value="{{this.id}}">
                                            <div class="input-group">
                                                <span class="input-group-label" style="margin:0;">
                                                    <i class="fi-price-tag" style="font-size:14px;margin:0;"></i>
                                                </span>
                                                <input class="input-group-field" type="text" name="price" placeholder="Price" required>
                                            </div>
                                            
                                             <div class="input-group">
                                                <span class="input-group-label" style="margin:0;">
                                                    <i class="fi-list-number" style="font-size:14px;margin:0;"></i>
                                                </span>
                                                <input class="input-group-field" type="text" name="quantity" placeholder="Quantity" required>
                                            </div>
                                            
                                            <div class="input-group">
                                                <span class="input-group-label" style="margin:0;">
                                                    <i class="fi-photo" style="font-size:14px;margin:0;"></i>
                                                </span>
                                                <input class="input-group-field" type="text" name="imagePath" placeholder="Image Source" required>
                                            </div>
                                            <div class="input-group-button">
                                                <input type="submit" class="button" value="Update">
                                            </div>
                                        </form>
                                    </div>
                                </div>                             
                            </div><hr>
                        {{/each}}
                    </div>
                {{/each}}
            </div>
    {{else}}
        <div class="small-12 medium-12 large-12 columns">
            <h4>{{resultStatus}}</h4>
        </div>
    {{/if}}
</div>