{{#if hasErrors}}
   <div class="alert alert-danger">
    {{# each messages }}
        <p>{{this}}</p>
    {{/each }}
   </div>
{{/if}}

<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        {{# if user}}
            <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
                <li class="tabs-title is-active"><a href="#panel1c" aria-selected="true"><strong>{{greeting}}</strong></a></li>
                <li class="tabs-title"><a href="#panel2c"><strong>Contact</strong></a></li>
                <li class="tabs-title"><a href="#panel3c"><strong>Image</strong></a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="collapsing-tabs">
                <div class="tabs-panel is-active" id="panel1c">
                    <table class="hover">
                        <thead>
                            <tr>
                                <th width="150">First Name</th>
                                <th width="150">Last Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{user.fname}}</td>
                                <td>{{user.lname}}</td>
                            </tr>                    
                        </tbody>
                    </table>
                </div>
                <div class="tabs-panel" id="panel2c">
                    <p><strong>Email: </strong>{{user.email}}</p>
                </div>
                <div class="tabs-panel" id="panel3c">
                    <img class="thumbnail profile-thumbnail" src="/graphics/products/vine.png">
                </div>
            </div>
        {{else}}
            <h1>User Profile</h1>
        {{/if}}
    </div>
</div>